doctype html
html
    head
        title Not Found | uppf.in
        link(rel="stylesheet", type="text/css", href="/404.css")
    body
        div.container
            h1.title 404: not found
            p.sans You're probably looking for something else
