doctype html
html
	head
		title uppf.in
		link(rel="stylesheet", type="text/css", href="/style.css")
	body
		p#kyuubey
			| ／人&nbsp;
			span.eye ◕
			| &nbsp;‿‿&nbsp;
			span.eye ◕
			| 人＼﻿
		
		div#menu
			div.left
				//a(href="/p/") pastebin
				a(href="/s/") url shortener
			div.right
				a(href="https://twitter.com/uppfinnarn", target="_blank") twitter
				a(href="https://github.com/uppfinnarn", target="_blank") github
