doctype html
html
    head
        title
            block title
                | uppf.in
        link(rel="stylesheet", type="text/css", href="/d/style.css")
    body
        div.container
            block content
                p No content?
