doctype html
html
    head
        title
            block title
                | uppf.in
        link(rel="stylesheet", type="text/css", href="/d/style.css")
    body
        div.container
            block content
                p No content?
            
        script(src="//code.jquery.com/jquery.min.js")
        script(src="/s/script.js")
